<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YASCI.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KalkulackaWPF.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KalkulackaWPF.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <YASCI.config>
            <setting name="license" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="console" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loggingPath" serializeAs="String">
                <value>{homeDir}log\</value>
            </setting>
            <setting name="loggingFile" serializeAs="String">
                <value>output-{date}-{time}.log</value>
            </setting>
            <setting name="consoleOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="homeDir" serializeAs="String">
                <value>C:\Users\Michal\Appdata\Roaming\YASCI\</value>
            </setting>
        </YASCI.config>
    </userSettings>
</configuration>