<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>License</title>
    <link type="text/css" href="license.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>End User License</h1>
    </header>
    <p>This program was made and published as a school project by Michal Krejčí who is the only owner of the copyright to this software. This software is distributed under Creative Commons Attribution-ShareAlike 4.0 International license. You can redistribute and modify this software as long as you give appropriate credit to me, Michal Krejci, and keep the original license. Feel free to read more <a href="http://creativecommons.org/licenses/by-sa/4.0/">here</a>.</p>
</body>
</html>